// ================================================================================
// INDEX
// ================================================================================

.l-main {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.l-flexContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.l-footer {
    display: flex;
    justify-content: content;
    flex-direction: column;
    padding-bottom: 100px;
}